.search-table-page {
  min-height: calc(100vh - 105px);
  .page-title-head {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    color: rgba(0, 0, 0, 0.85);
    line-height: 28px;
    padding-top: 10px;
    padding-bottom: 18px;
  }
  .content-wrap {
    // padding: 0 24px;
    .table-head {
      // height: 64px;
      // align-items: center;

      .table-head-left {
        font-size: 16px;
        font-weight: 500;
        text-align: left;
        color: #000000;
        line-height: 24px;
      }
    }
    .table-body {
      height: calc(100% - 144px);
      position: relative;

      .empty-tree-data {
        text-align: center;
        height: 80px;
        position: relative;
        top: 50%;
        margin-top: -40px;

        .empty-tree-data-txt {
          font-size: 16px;
          font-weight: 400;
          text-align: center;
          color: #171717;
          line-height: 22px;
          margin-bottom: 27px;
        }
      }
    }
    .table-pagination-wrap {
      box-sizing: border-box;
      padding-top: 24px;
      padding-bottom: 24px;
    }
  }
}
