.selectMemberOrgTab {
    height: 100%;
  }
  
  .selectMemberOrgTab .filter {
    padding-bottom: 14px;
  }
  
  .selectMemberOrgTab .filter .el-input {
    width: 240px;
    margin-right: 10px;
  }
  
  .selectMemberOrgTab .selectMemberWrap {
    overflow: hidden;
    display: flex;
    height: calc(100% - 48px);
  }
  
  .selectMemberOrgTab .selectMemberWrap .custom-tree-node img {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-left: 8px;
  }
  
  .selectMemberOrgTab .selectMemberWrap .tag-item-left {
    display: flex;
    align-items: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 68%;
  }
  
  .selectMemberOrgTab .selectMemberWrap .tag-item-left img {
    width: 16px;
    height: 16px;
    margin-right: 8px;
  }
  
  .selectMemberOrgTab .selectMemberWrap .tag-item-left .tag-item-left-txt {
    display: inline-block;
    max-width: calc(100% - 25px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    cursor: default;
  }
  
  .selectMemberOrgTab .selectMemberWrap .left {
    min-width: 400px;
    max-height: 100%;
    max-width: 60%;
    border-right: 2px solid #f5f7fa;
    overflow: auto;
  }
  
  .selectMemberOrgTab .selectMemberWrap .left .select-all {
    font-size: 12px;
    padding-left: 10px;
    color: #1773fa;
  }
  
  .selectMemberOrgTab .selectMemberWrap .left .member-item {
    line-height: 26px;
    padding: 0 0 0 8px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
  }
  
  .selectMemberOrgTab .selectMemberWrap .left .member-item:hover {
    background-color: #f5f7fa;
  }
  
  .selectMemberOrgTab .selectMemberWrap .left .member-item .tag-item-parent-name {
    padding-right: 8px;
  }
  
  .selectMemberOrgTab .selectMemberWrap .right {
    max-height: 100%;
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
  }
  
  .selectMemberOrgTab .selectMemberWrap .right .selectedMember {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding-left: 8px;
    overflow-y: auto;
  }
  
  .selectMemberOrgTab .selectMemberWrap .right .selectedMember .tag-item {
    height: 24px;
    padding: 0 5px;
    line-height: 24px;
    /* background-color: #f0f2f5; */
    border-radius: 4px;
    /* border-color: #d1e3fe; */
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    align-items: center;
    .tag-item-right-txt {
      cursor: default;
    }
  }
  
  .selectMemberOrgTab
    .selectMemberWrap
    .right
    .selectedMember
    .tag-item
    .tag-item-content {
    width: calc(100% - 20px);
    display: flex;
    justify-content: space-between;
  }
  
  .selectMemberOrgTab
    .selectMemberWrap
    .right
    .selectedMember
    .tag-item
    .tag-item-content
    .tag-item-left {
    width: calc(50% + 25px);
    img {
      cursor: move;
    }
  }
  
  .selectMemberOrgTab
    .selectMemberWrap
    .right
    .selectedMember
    .tag-item
    .tag-item-content
    .tag-item-parent-name {
    text-align: right;
    height: 24px;
    width: calc(50% - 30px);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .selectMemberOrgTab
    .selectMemberWrap
    .right
    .selectedMember
    .tag-item
    .tag-item-content
    .tag-item-parent-name
    span {
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .selectMemberOrgTab
    .selectMemberWrap
    .right
    .selectedMember
    .tag-item
    .el-icon-close {
    /* margin-left: 8px; */
    /* margin-left: 3px; */
  }
  
  .selectMemberOrgTab .selectMemberWrap .right .selectedMember .tag-item span {
    color: #171717;
    font-size: 14px;
  }
  
  .selectMemberOrgTab .selectMemberWrap .right .selectedMember .tag-item i {
    cursor: pointer;
  }
  
  .selectMemberOrgTab
    .selectMemberWrap
    .right
    .selectedMember
    .tag-item
    + .tag-item {
    margin-top: 12px;
  }
  