/*
  清除默认样式
*/
@charset "UTF-8";
body, html{height: 100%;}
html,body,div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,button,textarea,iframe,table,th,td { margin: 0; padding: 0;}
img { border: 0 none; vertical-align: top;}
ul,li,dl,dd,dt { list-style-type: none;}
i,em,cite { font-style: normal;}
h1,h2,h3,h4,h5,h6{ font-weight:normal;}
a { -webkit-tap-highlight-color:rgba(255,0,0,0);text-decoration: none; color: #666;outline-style:none; -moz-outline-style: none;}
a:focus {outline-style:none; -moz-outline-style: none;}
body{ -webkit-text-size-adjust: none;font-family:Helvetica; min-width:320px;word-break:break-all;margin: 0 auto;/*overflow: hidden;*/ }
.clear{display:block;float:none;clear:both;overflow:hidden;visibility:hidden;width:0;height:0;background:none;border:0;font-size:0}
.clr:after { content:""; clear:both; visibility:hidden; display:block; font-size:0; height:0; line-height:0;}
.clr { zoom:1;}
input[type="button"]{ cursor: pointer;-webkit-appearance: none;}
input[type="text"], input[type="password"] {outline: none;-webkit-appearance:none;}
input[type=button]:focus{border: none; outline: none;-webkit-appearance:none;}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #999; }
input:-moz-placeholder, textarea:-moz-placeholder { color: #999; }
input::-moz-placeholder, textarea::-moz-placeholder { color: #999; }
input:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #999; }

/*设定全局*/
body{
  font-size:14px;
  color:#555;
}

/*
  布局 flex
*/
.left{float: left;}
.right{float: right;}
.relative{
  position: relative;
}
.inline-block{
  display: inline-block;
}
.border-box {
  box-sizing: border-box;
}
.flex{display:flex;display:-webkit-flex;display:-ms-flexbox;-webkit-flex-direction:row;-ms-flex-direction:row;flex-direction:row;flex-direction: row;}
.flex-direction-column{
    flex-direction: column;
}
.flex-1{-webkit-box-flex:1;-webkit-flex:1;-ms-flex:1;flex:1;}
.flex-justify-center{justify-content:center;}
.flex-justify-around{
  justify-content: space-around;
}
.flex-justify-between{
  justify-content:space-between
}
.flex-justify-start{
  justify-content: flex-start;
}
.flex-justify-end{
  justify-content: flex-end;
}
.flex-align-baseline{
  align-items: baseline;
}
.flex-align-start{
  align-items:flex-start;
}
.flex-align-end{
  align-items:flex-end;
}
.flex-align-center{-webkit-box-align:center;-webkit-align-items:center;-ms-flex-align:center;align-items:center;}
.flex-justify-end{
    justify-content: flex-end;
}
.flex-wrap{
    flex-wrap: wrap
}
/*
    颜色 color bg background
*/
.cfff{
  color:#fff;
}
.c0{
  color:#000;
}
.c3{color: #333;}
.c6{color: #666;}
.c9{color: #999;}
.color-primary{
  color:#1773FA;
}
.color-warning{
  color:#FF6F00
}
.color-success{
  color:#00C657;
}
.color-error{
  color:#FF3C34;
}
.text-color{
  color:#555555;
}
.border-color{
  border-color:#D9D9D9;
}
.title-color{
  border-color:#262626;
}
.bgf,.bg-color-fff{
  background: #fff;
}
.bgf2{
  background: #f2f2f2;
}
.bg-grey {
    background: rgba(0, 0, 0, 0.04);
}
/*
  padding 上右下左
*/
.pl8 {
  padding-right: 10px !important;
}
.pt10{
    padding-top: 10px !important;
}
.pt8{
    padding-top:8px !important;
}
.pt16{
  padding-top:16px !important;
}
.pl24{
  padding-left:24px !important;
}
.pt20{
  padding-top:20px !important;
}
.pt24{
  padding-top:24px !important;
}
.pt30{
  padding-top: 30px !important;
}

.pt40{
  padding-top: 40px !important;
}
.pr8 {
  padding-right: 10px !important;
}
.pr10{
    padding-right: 10px !important;
}
.pr16{
  padding-right: 16px !important;
}
.pr24{
  padding-right: 24px !important;
}

.pb10{
    padding-bottom: 10px !important;
}
.pb16{
  padding-bottom: 16px !important;
}
.pb20{
  padding-bottom: 20px !important;
}
.pb24{
  padding-bottom: 24px !important;
}
.pb40{
  padding-bottom: 40px !important;
}
.pl8 {
  padding-left: 8px !important;
}
.pl16{
  padding-left: 16px !important;
}
.pl18{
  padding-left: 18px !important;
}
.pl20{
  padding-left: 20px !important;
}
.pl24{
  padding-left: 24px !important;
}
.pl60{
  padding-left: 60px !important;
}
.p24{
    padding: 24px !important;
}

.p8{
    padding: 8px !important;
}
.p10{
    padding: 10px !important;
}
.p16{
  padding: 16px !important;
}
.p20{
  padding: 20px !important;
}
.p24{
  padding: 24px !important;
}

/*
  边框 border
*/
.bdt{
  border-top:1px solid #d9d9d9;
}
.bdb{
  border-bottom:1px solid #d9d9d9;
}
.bdr{
  border-right:1px solid #d9d9d9;
}
.bdl{
  border-left:1px solid #d9d9d9;
}
.bdr4{
  border-radius: 4px;
}
.bdr2{
  border-radius: 2px;
}
/*
  字体 font-size
*/
.fs12{
  font-size:12px;
}
.fs14{
  font-size:14px;
}
.fs16{
  font-size:16px;
}
.fs18{
  font-size:18px;
}
.fs20{
  font-size: 20px;
}
.fs24{
  font-size: 24px;
}
.fs28{
  font-size:28px;
}
.fs32{
  font-size:32px;
}
.fs36{
  font-size:36px;
}
.fs38{
    font-size:38px;
}
.fs40{
  font-size:40px;
}


/*
  text-align
*/
.tc{
  text-align: center;
}
.tr{
  text-align: right;
}
.tl{
  text-align: left;
}
/*
  margin <top/right/bottom/left>
*/
.mt0 {
  margin-top: 0px !important;
}
.mt6{
  margin-top: 6px !important;
}
.mt8{
  margin-top: 8px !important;
}
.mt12{
  margin-top: 12px !important;
}
.mt16{
  margin-top: 16px !important;
}
.mt24{
  margin-top: 24px !important;
}
.mr0 {
  margin-right: 0px !important;
}
.mr4{
  margin-right: 4px !important;
}
.mr5{
    margin-right: 5px !important;
}
.mr6{
    margin-right: 6px !important;
}
.mr7{
    margin-right: 7px !important;
}
.mr8{
  margin-right: 8px !important;
}
.mr10{
    margin-right: 10px !important;
}
.mr12{
  margin-right: 12px !important;
}
.mr16{
  margin-right: 16px !important;
}
.mr24{
  margin-right: 24px !important;
}
.mr60{
  margin-right: 60px !important;
}
.mr32{
  margin-right: 32px !important;
}
.mb0 {
  margin-bottom: 0px !important;
}
.mb8{
  margin-bottom: 8px !important;
}
.mb16{
  margin-bottom: 16px !important;
}
.mb24{
  margin-bottom: 24px !important;
}
.mb40{
    margin-bottom: 40px !important;
}
.mb48{
    margin-bottom: 48px !important;
}
.ml0 {
  margin-left: 0px !important;
}
.ml6{
  margin-left:6px !important;
}
.ml8{
  margin-left:8px !important;
}
.ml12{
  margin-left:12px !important;
}
.ml14{
  margin-left:14px !important;
}
.ml16{
  margin-left: 16px !important;
}
.ml18{
  margin-left: 18px !important;
}
.ml24{
  margin-left: 24px !important;
}
.ml32{
  margin-left: 32px !important;    
}
.ml40{
  margin-left: 40px !important;    
}

.m0 {
  margin-top: 0px !important;
}
.m8{
  margin:8px !important;
}
.m16{
  margin: 16px !important;
}
.m24{
  margin: 24px !important;
}

/*
    vertical-align
*/
.vtm{
  vertical-align: middle;
}

/*
  font-weight:bold
*/
.fwb{
  font-weight:bold
}
.fw400{
    font-weight: 400;
}
.fw300{
    font-weight: 300;
}


/* 文字省略 */
.overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
/*定义滚动条宽高及背景，宽高分别对应横竖滚动条的尺寸*/

/*::-webkit-scrollbar {*/
/*  width: 10px; !*对垂直流动条有效*!*/
/*  height: 10px; !*对水平流动条有效*!*/
/*}*/

/*!*定义滚动条的轨道颜色、内阴影及圆角*!*/
/*::-webkit-scrollbar-track{*/
/*  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
/*  background-color: #cfcfcf;*/
/*  border-radius: 3px;*/
/*}*/


/*!*定义滑块颜色、内阴影及圆角*!*/
::-webkit-scrollbar-thumb{
    border: 4px solid transparent;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #E8E8E8;
}
/*!*定义两端按钮的样式*!*/
/*::-webkit-scrollbar-button {*/
/*  background-color:cyan;*/
/*}*/

/*!*定义右下角汇合处的样式*!*/
/*::-webkit-scrollbar-corner {*/
/*  background:khaki;*/
/*}*/


/*动画*/
@keyframes rotating {
    0% {
        transform: rotate(
                0deg);
    }
    100% {
        transform: rotate(
                1turn);
    }
}

.pointer {
    cursor: pointer;
}

